#### Khai báo thư viện và đọc dữ liệu

In [65]:
import pandas as pd

In [66]:
original = pd.read_csv('../data/origin_data.csv')

#### Chuẩn hóa tên cột

In [67]:
original.columns

Index(['Playlist Name', 'Playlist Owner', 'Track Index', 'Track Name',
       'Track ID', 'Artist Name', 'Album Name', 'Track URI', 'Artist URI',
       'Album URI', 'Duration (ms)', 'danceability', 'energy', 'key',
       'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness',
       'liveness', 'valence', 'tempo', 'type', 'uri', 'track_href',
       'analysis_url', 'duration_ms', 'time_signature', 'popularity',
       'release_date'],
      dtype='object')

In [68]:
original.columns = (
    original.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_', regex=False)
    .str.replace(r'[^\w\s]', '', regex=True)
)

In [69]:
original.columns

Index(['playlist_name', 'playlist_owner', 'track_index', 'track_name',
       'track_id', 'artist_name', 'album_name', 'track_uri', 'artist_uri',
       'album_uri', 'duration_ms', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'type', 'uri', 'track_href', 'analysis_url',
       'duration_ms', 'time_signature', 'popularity', 'release_date'],
      dtype='object')

In [70]:
# Xóa bỏ 1 cột bị trùng là duration_ms
original = original.loc[:, ~original.columns.duplicated()]

#### Chọn lại các trường dữ liệu có ích cho việc phân tích dữ liệu và modeling

In [71]:
useful_col = ['track_name','artist_name','album_name','danceability','energy','key','loudness','mode'
              ,'speechiness','acousticness','instrumentalness','liveness','valence','tempo'
              ,'duration_ms','time_signature','popularity','release_date']

In [72]:
original = original[useful_col]

In [73]:
original.head()

,track_name,artist_name,album_name,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,popularity,release_date
0,I Wanna Be Yours,Arctic Monkeys,AM,0.464,0.417,0,-9.345,0,0.0256,0.136,0.022000,0.0974,0.479,67.528,183956,4,90,2013-09-09
1,seasons,wave to earth,summer flows 0.02,0.372,0.273,7,-10.629,1,0.0268,0.782,0.046300,0.2190,0.165,60.038,255998,4,79,2020-08-04
2,Nahuhulog,Jed Baruelo,Nahuhulog,0.612,0.389,4,-12.725,0,0.0578,0.837,0.004610,0.3060,0.348,125.091,227262,4,64,2022-05-13
3,Ligaya,mrld,Ligaya,0.458,0.533,0,-5.249,1,0.0381,0.447,0.000000,0.1140,0.343,149.832,248800,4,65,2021-10-06
4,Oceans & Engines,NIKI,Nicole,0.371,0.314,1,-8.920,1,0.0347,0.622,0.000012,0.0893,0.066,95.109,336000,4,72,2022-08-11

#### Thông tin dữ liệu

In [74]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689400 entries, 0 to 689399
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   track_name        689087 non-null  object
 1   artist_name       689085 non-null  object
 2   album_name        689125 non-null  object
 3   danceability      689400 non-null  float64
 4   energy            689400 non-null  float64
 5   key               689400 non-null  int64
 6   loudness          689400 non-null  float64
 7   mode              689400 non-null  int64
 8   speechiness       689400 non-null  float64
 9   acousticness      689400 non-null  float64
 10  instrumentalness  689400 non-null  float64
 11  liveness          689400 non-null  float64
 12  valence           689400 non-null  float64
 13  tempo             689400 non-null  float64
 14  duration_ms       689400 non-null  int64
 15  time_signature    689400 non-null  int64
 16  popularity        689400 non-null  int64
 17  release_date      689400 non-null  object
dtypes: float64(9), int64(5), object(4)
memory usage: 94.7+ MB

#### Xử lý dữ liệu Null

In [75]:
original.isnull().sum()

track_name          313
artist_name         315
album_name          275
danceability          0
energy                0
key                   0
loudness              0
mode                  0
speechiness           0
acousticness          0
instrumentalness      0
liveness              0
valence               0
tempo                 0
duration_ms           0
time_signature        0
popularity            0
release_date          0
dtype: int64

In [76]:
original[original['track_name'].isnull()]

,track_name,artist_name,album_name,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,popularity,release_date
1174,NaN,NaN,NaN,0.791,0.348,10,-9.457,1,0.0434,0.5940,0.000001,0.0970,0.490,131.972,0,4,0,0000
1199,NaN,NaN,NaN,0.350,0.418,10,-13.117,1,0.0417,0.4030,0.000000,0.1000,0.219,157.327,0,3,0,0000
1283,NaN,NaN,NaN,0.575,0.803,11,-4.596,0,0.0536,0.0398,0.000000,0.1550,0.641,80.062,0,4,0,0000
1414,NaN,NaN,NaN,0.486,0.898,9,-3.791,1,0.1710,0.3090,0.000000,0.0886,0.648,88.335,0,4,0,0000
1428,NaN,NaN,NaN,0.501,0.445,6,-8.432,1,0.0337,0.7720,0.000000,0.1170,0.388,80.086,0,4,0,0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678908,NaN,NaN,NaN,0.490,0.448,8,-7.503,0,0.0330,0.5660,0.000000,0.0674,0.459,141.943,0,4,0,0000
680316,NaN,NaN,NaN,0.628,0.857,7,-8.879,1,0.0597,0.0308,0.000000,0.0753,0.719,154.053,0,4,0,0000
680792,NaN,NaN,NaN,0.563,0.312,7,-7.797,1,0.0291,0.5070,0.000000,0.1130,0.137,129.846,0,4,0,0000
680794,NaN,NaN,NaN,0.497,0.324,5,-9.848,1,0.0320,0.7800,0.000000,0.1050,0.281,135.179,0,4,0,0000
685562,NaN,NaN,CASH SHIT,0.702,0.512,1,-10.454,1,0.2570,0.1140,0.000309,0.1460,0.366,163.218,0,4,0,2023-04-01

In [77]:
# Xóa các dòng có giá trị null
original = original.dropna()

In [78]:
original.isnull().sum()

track_name          0
artist_name         0
album_name          0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
duration_ms         0
time_signature      0
popularity          0
release_date        0
dtype: int64

In [79]:
original.shape

(689078, 18)

#### Xử lý dữ liệu trùng lặp

In [80]:
original.duplicated().value_counts()

False    688451
True        627
Name: count, dtype: int64

In [81]:
original.drop_duplicates(inplace=True)

In [82]:
original.shape

(688451, 18)

#### Xử lý dữ liệu ngoại lai

In [83]:
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

In [84]:
numeric_columns = original.select_dtypes(include=['float64', 'int64']).columns
for column in numeric_columns:
    initial_rows = len(original)
    processed_data = remove_outliers_iqr(original, column)
    print(f"{column}: Đã loại bỏ {initial_rows - len(processed_data)} giá trị ngoại lai")

danceability: Đã loại bỏ 7045 giá trị ngoại lai
energy: Đã loại bỏ 0 giá trị ngoại lai
key: Đã loại bỏ 0 giá trị ngoại lai
loudness: Đã loại bỏ 52535 giá trị ngoại lai
mode: Đã loại bỏ 0 giá trị ngoại lai
speechiness: Đã loại bỏ 96393 giá trị ngoại lai
acousticness: Đã loại bỏ 0 giá trị ngoại lai
instrumentalness: Đã loại bỏ 148676 giá trị ngoại lai
liveness: Đã loại bỏ 48324 giá trị ngoại lai
valence: Đã loại bỏ 0 giá trị ngoại lai
tempo: Đã loại bỏ 1302 giá trị ngoại lai
duration_ms: Đã loại bỏ 26840 giá trị ngoại lai
time_signature: Đã loại bỏ 89442 giá trị ngoại lai
popularity: Đã loại bỏ 20 giá trị ngoại lai

#### Xuất ra file đã tiền xử lý dữ liệu

In [85]:
processed_data

,track_name,artist_name,album_name,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,popularity,release_date
1,seasons,wave to earth,summer flows 0.02,0.372,0.273,7,-10.629,1,0.0268,0.782,0.046300,0.2190,0.165,60.038,255998,4,79,2020-08-04
2,Nahuhulog,Jed Baruelo,Nahuhulog,0.612,0.389,4,-12.725,0,0.0578,0.837,0.004610,0.3060,0.348,125.091,227262,4,64,2022-05-13
3,Ligaya,mrld,Ligaya,0.458,0.533,0,-5.249,1,0.0381,0.447,0.000000,0.1140,0.343,149.832,248800,4,65,2021-10-06
4,Oceans & Engines,NIKI,Nicole,0.371,0.314,1,-8.920,1,0.0347,0.622,0.000012,0.0893,0.066,95.109,336000,4,72,2022-08-11
5,Let You Break My Heart Again,Laufey,Let You Break My Heart Again,0.299,0.142,2,-15.134,1,0.0369,0.965,0.113000,0.1110,0.123,76.748,269066,4,76,2021-08-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689395,Think Twice,Céline Dion,My Love Essential Collection,0.549,0.452,2,-8.131,0,0.0274,0.403,0.000000,0.1960,0.242,134.296,289466,4,35,2008-10-24
689396,Tus Viejas Cartas,Los Enanitos Verdes,Originales - 20 Exitos,0.529,0.449,4,-9.623,0,0.0287,0.232,0.000000,0.2240,0.394,168.516,212306,4,44,1986
689397,Tú Sí Sabes Quererme (feat. Los Macorinos),Natalia Lafourcade,Musas (Un Homenaje al Folclore Latinoamericano...,0.664,0.460,1,-10.974,0,0.1050,0.782,0.000003,0.1760,0.793,170.057,244933,4,62,2017-05-05
689398,Wedding Day,Bee Gees,This Is Where I Came In,0.687,0.626,2,-5.724,1,0.0301,0.167,0.000000,0.1450,0.212,108.973,283506,4,0,2001-01-01
689399,Without You,Air Supply,The Earth Is...,0.371,0.509,5,-6.426,1,0.0302,0.123,0.000964,0.3810,0.291,128.618,272626,4,63,1991-07-19

In [86]:
processed_data.to_csv('../data/processed_data.csv', index=False)